body,
html {
	font-family: 'Catamaran', sans-serif;
	font-size: 14px;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	line-height: 160%;
	/*width: 100%;
	max-width: 1440px;*/
}

/*---------------------------------
			Resets
-----------------------------------*/
h1,h2,h3,
h4,h5,h6,
ul,p, body,div {
	margin:  0;
	padding: 0;
}

* {
	box-sizing: border-box;
}
.menu {
	list-style: none;
	height: 46px;
}
a {
	text-decoration: none;
	text-transform: uppercase;
}

/*---------------------------------
			Utils
-----------------------------------*/



/*---------------------------------
			Clear Floats
-----------------------------------*/

.clear {
	clear: both;
}

.container {
	margin: 0 auto;
	width: 100%;
	max-width: 1300px;
	box-sizing: border-box;
}

.container-md {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	box-sizing: border-box; 
}
.container-sm {
	width: 100%;
	max-width: 446px;
	margin: 0 auto;
	box-sizing: border-box; 
}


/*---------------------------------
			Grid System
-----------------------------------*/


.grid {
	display: inline-block;
	width: 100%;
	position: relative;
}

.grid__col{
	float: left;
}

.grid__col--1 {
	width: 8.3333%;
}
.grid__col--2 {
	width: 16.6667%;
}

.grid__col--3 {
	width: 25%;
}

.grid__col--4 {
	width: 33.3333%;
}

.grid__col--5 {
	width: 41.6667%;
}

.grid__col--6 {
	width: 50%;
}

.grid__col--7 {
	width: 58.3333%;
}

.grid__col--8 {
	width: 66.6667%;
}

.grid__col--9 {
	width: 75%;
}

.grid__col--10 {
	width: 83.3333%;
}

.grid__col--11 {
	width: 91.6667%;
}

.grid__col--12 {
	width: 100%;
}


/*---------------------------------
			Header Styles
-----------------------------------*/

.global-header {
	position: relative;
	background: linear-gradient(#ec5858, #d69052);
	overflow: hidden;
}
.global-header__menu {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: 30px 20px 0;
	height: 46px;
}
.logo {
	width: 100%;
	max-width: 40px;
	height: auto;
}
.logo-text {
	padding: 0 5px;
}

.logo__link {
	display: inline-block;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    height: inherit;
}
.logo__link img {
	margin-right: 10px;
	vertical-align: middle;
	height: inherit;
}
.menu__item {
	float: left;
}

.menu__item:hover,
.menu__item:focus {
	transform: translateY(-1px);
}

.menu__link,
.login {
	color: #fff;
	display: block;
	padding: 12px 10px;
	font-weight: 600;
}

.login {
	background: rgba(255,255,255,0.15);
    border-radius: 25px;
    transition: .3s;
    padding: 12px 20px;
}
.login:hover,
.login:focus {
	color: #fff;
    box-shadow: 0 3px 3px rgba(50,50,93,0.1),
    			0 3px 3px rgba(0,0,0,0.7);
    transform: translateY(-1px);
}

/*.global-header__menu--nav, 
.global-header__menu--logo {
	float: left;
	height: 46px;
}
.global-header__menu--signup {
	float: right;	
}*/
.global-header__text {
	font-weight: 900;
	color: #fff;
	font-size: 45px;
}
.global-header__hero--title {
	margin-top: 150px;
    padding: 0;
    font-size: 40px;
    font-weight: 900;
    line-height: 1.2;
    text-align: center;
    color: #fff;
}

.global-header__hero {
	position: relative;
	padding-bottom: 20px;
	text-align: center;
}

.global-header__hero--subtitle {
	padding: 0;
    margin: 80px 0 30px;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.75;
    text-align: center;
    color: #fff;
}

.see-more {
	display: inline-block;
	border: 2px solid #e37055;
	border-radius: 30px;
	padding: 12px 50px;
	color: #e37055;
	font-weight: 600;
	margin: 30px 0;
}

.see-more:hover,
.see-more:focus {
	background: linear-gradient(to right, #ec5858, #d69052);
	color: #fff;
}



/*---------------------------------
			Forms
-----------------------------------*/

form {
	position: relative;
    z-index: 9998;
    top: -50px;
    left: -0px;
    text-align: center;
}
    
input[type="text"] {
	width: 100%;
	max-width: 500px;
	padding: 30px 15px;
	border: 2px solid #f29949;
	border-radius: 44px;
	position: relative;
	font-size: 150%;
	color: #ccc;
}
input[type="text"]:focus {
	outline: none;
}

::-webkit-input-placeholder,
::-moz-input-placeholder {
   text-align: center;
}




.feature-images {
    background-color: rgba(0,0,0, 1);
    color: #fff;
    margin: 0 10px;
    border-radius: 5px;
}

.feature-image__title {
	display: inline-block;
	position: absolute;
	color: #fff;
	font-size: 1.8rem;
	font-weight: 700;
	bottom: 50px;
	left: 30px;
}

.feature-image__description {
	color: #c0814c;
	position: absolute;
	font-weight: 600;
	bottom: 25px;
	left: 30px;
}

.img {
    display: block;
    width: 100%;
    height: 400px;
    border-radius: 5px;
}

.img--bauchi {
	position: relative;
    background-image: url('http://res.cloudinary.com/dfm5khxss/image/upload/v1510830749/bauchi_xiskpj.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 45% 100%;
    opacity: .5;
}
.img--jos {
	position: relative;
    background-image: url('http://res.cloudinary.com/dfm5khxss/image/upload/v1510830800/jos_hvvutv.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 56% 100%;
    opacity: .5;
}
.img--abuja {
	position: relative;
    background-image: url('http://res.cloudinary.com/dfm5khxss/image/upload/v1510830747/abuja_jwdpde.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 52% 100%;
    opacity: .5;   
}



.page-section {
	text-align: center;
	position: relative;
}
.page-section--about {
	background: #fff;
	margin-top: 80px;
}
.page-section--images {
	background: #fff;
	margin-top: 80px;
}

.page-section--blog {
	background-image: url('http://res.cloudinary.com/dfm5khxss/image/upload/v1510830699/mosque_g3bnxt.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

.blog-title {
	color:#f9b560;
	text-transform: uppercase;
}

/*.blog-header {
	color: #fff;
	font-size: 1.8rem;
	font-weight: 900;
}*/

.page-section--footer {
	padding: 20px 100px;
	color: rgba(0, 0, 0, .4);
	font-weight: 600;
}

.terms {
	text-align: left;
}

.copyright {
	text-align: right;
}

.page-section--footer p {

}

.page-section-header__title {
	color: rgba(0, 0, 0, .4);
	color: #c2c0c1;
	margin-bottom: 40px;
	text-transform: uppercase;
}

.page-section-header__text {
	font-size: 1.7rem;
    font-weight: 400;
    line-height: 1.6;
}


.global-overlay {
	position: relative;
    top: 0;
    left: -99vw;
    height: 400px;
    overflow: visible;
    width: 100%;
}

.overlay {
	position: fixed;
    top: 0;
    left: -60%;
    background: linear-gradient(#ec5858, #d69052);
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
    -moz-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
    -ms-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
    -o-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
    transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
}
.slant-bg {
	-webkit-transform: skew(-25deg, 0deg);
    -moz-transform: skew(-25deg, 0deg);
    -ms-transform: skew(-25deg, 0deg);
    -o-transform: skew(-25deg, 0deg);
     transform: skew(-25deg, 0deg); 
}

#left-side {
	position: fixed;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
    -moz-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
    -ms-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
    -o-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
    transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
}

.content {
	position: absolute;
    z-index: 0;
    left: 15px;
    top: 30vh;
    width: 100%;
    padding: 0 10%;
    -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
    -moz-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
    -ms-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
    -o-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
    transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: left;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    opacity: 1;
    visibility: visible;
}

.text-intro {
	margin-left: 47%;
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    color: #fdb94e;
}

.content h1 {
	margin-left: 47%;
    color: #fff;
    font-size: 45px;
    line-height: 120%;
}

.hamburger {
	display: none;
    float: right;
    margin-right: 20px;
    cursor: pointer;
    width: 40px;
    height: 45px;
}

.hamburger:hover {
	transform: translateY(-1px);
}

.hamburger span {
	border: 1px solid #fff;
	display: block;
    margin: 8px 0;
}

.hamburger span .last-child {
	margin-bottom: 0;
}

.nav-mobile {
	background: #535353;
    padding-left: 30px;
    width: 256px;
}

.nav-mobile ul {
	list-style: none;
}

.nav-mobile a {
	display: block;
	padding: 10px 0;
	color: #fff;
	text-decoration: none;
}
.nav-mobile a:hover {
	color: #569E3D; /*#79D858);*/
	transform: translateY(-1px);
}


/**--------------------------------------------------
			Media Rules for mobile layout
--------------------------------------------------**/


@media (max-width: 699px) {
	.grid__col--4 {
		width: 50%;
	}

	.img {
		margin-bottom: 30px;
	}
}

@media (max-width: 560px) {

	.container-md {
		padding: 0 30px;
	}

	.grid__col--4 {
		width: 100%;		
	}

	.grid__col--6 {
		width: 100%;
	}
	p.terms, 
	p.copyright  {
		text-align: center;
	}
	.img {
		margin-bottom: 30px;
	}

	.text-intro, .content h1 {
		margin-left: 20px;
	}

	.global-header__menu--nav,
	.global-header__menu--signup {
		display: none;
	}

	.hamburger {
		display: block;
	}
}

@media (max-width: 768px){
	.text-intro, 
	.content h1 {
		margin-left: 20px;
	}
}